/* Styles go here */
a, a:visited, a:active {
	color: white;
}

#paperCanvas {
	// zoom: 1;
	// border-width: 10px;
	// border-style: solid;
	// border-color: blue;
}

#soundCanvas {
	position: absolute;
	height: 33.33%;
	top: 66.66%;
	left: 0;
	right: 0;

    -webkit-transition: top 0.7s; /* Safari */
    transition: top 0.7s;
}

#soundCanvas.hidden {
	position: absolute;
	top: 110%;
	left: 0;
	right: 0;
}

body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
